//Цвета
$white: #ffffff
$black: #111
$circleLogo: #d32b2b
$danger: #f01212
$accept: #36aa19
$white-smoke: #cdd7e2
$light-gray: #9a9ea1
$light-green: #a5f042
$basic-green: #30a525
$flamingo: #f8c3f1
$basic-flamingo: #b66cac
$dark-flamingo: #5c3f58
$sky: #b2d7fb
$basic-sky: #63a9ee
$dark-sky: #406c99
